@import "tailwindcss";

:root {
  font-family: "Space Mono", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --desaturated-red: 13 70% 61%;
  --strong-cyan: 172 67% 45%;
  --weak-cyan:173 61% 77%;
  --very-dark-cyan: 183 100% 15%;
  --dark-grayish-cyan: 186 14% 43%;
  --grayish-cyan: 184 14% 56%;
  --light-grayish-cyan: 185 41% 84%;
  --very-light-grayish-cyan: 189 41% 97%;
  --white: 0 0% 100%;

  color: hsl(var(--white));
  background-color: hsl(var(--light-grayish-cyan));
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

